.caixa {
    font-weight: bold;
    width: 150px;
    height: 150px;
    font-size: 20px;
}

.horizontal {
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
}

.verde {
    background-color: green;
}

.azul {
    background-color: blue;
}

.vermelho {
    background-color: red;
}